// HOME
.home {
  position: relative;
  margin: 0;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 90vh;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    height: 100vh;
    background-image: url("/img/home.jpg");
    background-size: cover;
    position: relative;

    &::before {
      content: "";
      background-color: rgba(55, 32, 100, 0.4);
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  &__img-box {
    background-color: var(--color-primary-light);
    grid-column: 1/2;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__img1 {
    width: 100%;
    grid-row: 2/5;
    grid-column: 1/5;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
    border-radius: var(--br-img);
  }

  &__img2 {
    width: 115%;
    grid-row: 4/6;
    grid-column: 3/7;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
    border-radius: var(--br-img);
  }

  &__content {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    padding: 15rem;
    align-items: flex-start;
    z-index: var(--z-normal);

    @media only screen and (max-width: $bp-medium) {
      margin-top: 8rem;
      width: 100%;
      padding: 5rem;
    }

    & h1 {
      font-size: 4rem;
      line-height: 1.2;
      margin-bottom: 4rem;
      color: var(--color-primary);

      @media only screen and (max-width: $bp-medium) {
        color: var(--color-secondary-light);
      }
    }

    & h3 {
      font-size: var(--h3-font-size);
      line-height: 1.2;
      margin-bottom: 2rem;
      color: var(--color-secondary);
      font-weight: var(--font-semi-bold);

      @media only screen and (max-width: $bp-medium) {
        color: var(--color-secondary-light);
      }
    }
  }
}

// ABOUT SECTION
.about {
  position: relative;
  height: 100rem;
  padding: 5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__text-box {
    width: 45%;
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
    }
  }

  &__heading {
    color: var(--color-primary);
    font-size: var(--h1-font-size);
    margin-bottom: 3rem;
  }

  &__text {
    color: var(--color-secondary);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 2rem;
  }

  &__btn {
    margin-top: 3rem;
  }

  &__img-box {
    @media only screen and (max-width: $bp-medium) {
      display: flex;
      width: 100%;
      margin: 4rem 0;
    }
  }

  &__img {
    margin: auto;
    max-height: 50rem;
    max-width: 100%;
    border-radius: var(--br-img);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
  }
}

// SERVICES
.services {
  position: relative;
  background-color: var(--color-primary-light);
  height: 100rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (max-width: $bp-medium) {
    height: fit-content;
  }

  &__heading {
    color: var(--color-primary);
    font-size: var(--h1-font-size);
    margin-bottom: 6rem;
    text-align: center;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5rem;

    @media only screen and (max-width: $bp-medium) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 5rem;
    }
  }

  &__crd {
    height: 40rem;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    padding: 3rem;
  }

  &__heading-crd {
    font-size: var(--h3-font-size);
    margin-bottom: 2rem;
    color: var(--color-secondary);
    font-weight: var(--font-semi-bold);
  }

  &__text-crd {
    font-size: var(--normal-font-size);
    margin-bottom: 2rem;
    color: var(--color-secondary);
    font-weight: var(--font-medium);
  }
}

// PATIENT SECTION
.patient {
  position: relative;
  height: 100rem;
  width: 80%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  @media only screen and (max-width: $bp-medium) {
    height: fit-content;
    width: 100%;
  }

  &__heading-box {
    display: flex;
    align-items: center;
    padding-bottom: 6rem;
    margin: 2rem auto 4rem auto;
    border-bottom: 2px solid var(--color-primary);

    @media only screen and (max-width: $bp-medium) {
      display: flex;
      flex-direction: column;
    }
  }
  &__heading {
    width: 100%;
    color: var(--color-primary);
    font-size: var(--h1-font-size);
    margin-right: 8rem;

    @media only screen and (max-width: $bp-medium) {
      margin-right: 0rem;
      margin-bottom: 4rem;
    }
  }
  &__heading-text {
    font-size: var(--normal-font-size);
    color: var(--color-secondary);
    font-weight: var(--font-medium);
  }

  &__description-box {
    display: flex;
    align-items: flex-start;
    margin: 0 auto 0 auto;
    justify-content: space-between;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }
  }

  &__crd {
    width: 33.333333%;
    margin: 2rem;

    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }
  }

  &__icon-box {
    background-color: var(--color-primary);
    z-index: var(--z-back);
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--mb-4);
  }
  &__crd-icon {
    font-size: 4rem;
    color: var(--color-secondary-light);
    z-index: var(--z-normal);
  }

  &__crd-heading {
    font-size: var(--h3-font-size);
    margin-bottom: 2rem;
    color: var(--color-secondary);
    font-weight: var(--font-semi-bold);
  }

  &__crd-text {
    font-size: var(--normal-font-size);
    color: var(--color-secondary);
    font-weight: var(--font-medium);
  }
}

// TEAM
.team {
  height: 100rem;
  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;

  @media only screen and (max-width: $bp-medium) {
    height: fit-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    background-color: var(--color-primary-light);
  }

  &__img-box {
    background-color: var(--color-primary-light);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    max-height: 60rem;
    max-width: 80%;
    margin: 4rem;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
  }

  &__text-box {
    padding: 10rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: $bp-medium) {
      margin: 0 0 8rem 0;
    }
  }

  &__heading {
    color: var(--color-primary);
    font-size: var(--h1-font-size);
  }

  &__heading-tertiary {
    font-size: var(--h3-font-size);
    margin-bottom: 2rem;
    color: var(--color-secondary);
    font-weight: var(--font-semi-bold);
  }

  &__text {
    color: var(--color-secondary);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 2rem;

    & span {
      font-size: 4rem;
    }
  }

  &__btn {
    margin-top: 3rem;
  }
}

// CONTACT
.contact {
  position: relative;
  height: 80rem;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 1fr;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
  }

  &__box {
    padding: 5rem;
    margin-left: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;

    @media only screen and (max-width: $bp-medium) {
      margin: 4rem 0 4rem 0;
    }
  }

  &__heading {
    color: var(--color-primary);
    font-size: var(--h1-font-size);
    margin-bottom: 4rem;
  }

  &__item {
    display: flex;

    &:not(:last-of-type) {
      margin-bottom: 4rem;
    }
  }

  &__text {
    color: var(--color-secondary);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2rem;

    & a,
    a:visited {
      color: var(--color-secondary);
    }
  }

  &__icon-box {
    margin-right: 4rem;
    display: flex;
    justify-content: center;
  }

  &__icon {
    font-size: 4rem;
    color: var(--color-primary);
  }

  &__map {
    filter: grayscale(75%);
    width: 100%;
    height: 100%;
  }
}
